# Default values for netscaler GSLB Controller
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# image contains information needed to fetch NSIC image
imageRegistry: quay.io
imageRepository: netscaler/netscaler-k8s-ingress-controller
imageTag: 1.36.5
image: "{{ .Values.imageRegistry }}/{{ .Values.imageRepository }}:{{ .Values.imageTag }}"
pullPolicy: IfNotPresent
# openshift is set to true if charts are being deployed in OpenShift environment.
openshift: false
license:
   accept: no
# nsPort is port for NetScaler NITRO
nsPort: 443
# nsProtocol is protocol for NetScaler NITRO
nsProtocol: HTTPS
# nitroReadTimeout is timeout value in seconds for nitro api read timeout(default is 20)
nitroReadTimeout:
# logLevel is to set level of NSIC Logs
logLevel: INFO
# entityPrefix is the prefix for the resources on the NetScaler
entityPrefix:
# API server Cert verification can be disabled, while communicating with API Server, if disableAPIServerCertVerify set to True
disableAPIServerCertVerify: False
# kubernetesURL is for registering events to kubeapi server
kubernetesURL:
# localRegion is the region where K8s cluster is deployed 
localRegion: ""
# localCluster is the clustername of the k8s cluster
localCluster: ""
# sitedata is list of dictionary containing site related information like name,IP, adcCredentialSecret for credentials.
sitedata:
  - siteName: "site1"
    siteIp: "x.x.x.x"
    secretName: "site1-secret"
    siteRegion: "xxxxxxxxx"
  - siteName: "site2"
    siteIp: "x.x.x.x"
    secretName: "site2-secret"
    siteRegion: "xxxxxxxxx"
crds:
# If false, CustomResourceDefinitions  will not be installed.
  install: false
# if set to true, then CustomResourceDefinitions will not be deleted during helm delete. This way, CustomResourceObjects will not be deleted from the database.
  retainOnDelete: false

# Specifies whether a ServiceAccount should be created
serviceAccount:
  create: true
  # The name of the ServiceAccount to use.
  # If not set and `create` is true, a name is generated using the fullname template
  # name:

resources:
  requests:
    cpu: 32m
    memory: 128Mi
  # limits:
  #   cpu: 1000m
  #   memory: 1000Mi
  limits: {}
  