# Default values for cpx-istio.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

xDSAdaptor:
    image: quay.io/citrix/citrix-xds-adaptor:0.10.3
    imagePullPolicy: IfNotPresent
    proxyType: sidecar
    secureConnect: true
    logLevel: DEBUG
    jsonLog: false
    defaultSSLListenerOn443: true

coe:
    coeURL:
    coeTracing: false
 
istioPilot:
    name: istiod
    namespace: istio-system
    secureGrpcPort: 15012
    insecureGrpcPort: 15010
    SAN: #"spiffe://cluster.local/ns/istio-system/sa/istiod-service-account"

certProvider:
    caAddr: istiod.istio-system.svc
    caPort: 15012
    trustDomain: cluster.local
    certTTLinHours: 720
    clusterId: Kubernetes
    jwtPolicy: #specify third-party-jwt if Kubernetes cluster supports third-party tokens

cpxProxy:
    netscalerUrl: "http://127.0.0.1"
    image: quay.io/citrix/citrix-k8s-cpx-ingress:13.1-30.52
    imagePullPolicy: IfNotPresent
    EULA: NO
    cpxSidecarMode: YES
    mgmtHttpPort: 10080
    mgmtHttpsPort: 10443
    cpxDisableProbe: "YES"
    cpxLicenseAggregator:
    #licenseServerIP: this value is taken from ADMSettings.ADMIP

sidecarWebHook:
    webhookImage: quay.io/citrix/cpx-istio-sidecar-injector:1.2.0
    imagePullPolicy: IfNotPresent

sidecarCertsGenerator:
    image: quay.io/citrix/cpx-sidecar-injector-certgen:1.2.0
    imagePullPolicy: IfNotPresent

ADMSettings:
    ADMIP:
    licenseServerIP:
    licenseServerPort: 27000
    bandWidthLicense: false
    bandWidth: 1000
    analyticsServerPort: 5557
    LicenseEdition: PLATINUM

webhook:
    injectionLabelName: cpx-injection

